
.details{
    width: 1200px;
    margin: 0 auto;
    .card{
        width: 1200px;
        height: 500px;
        border-radius: 10px;
        border:1px solid rgba(0, 0, 0, 0.083);
        display: flex;
        
       
        // display: flex;
        // align-items: center;
        // flex-direction: column;
        // transition: all 0.3s ease;
        // &:hover{
        //     transform: scale(0.97);
        //     box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        // }
        
       .card_top{
        img{
            width: 700px;
            height: 500px;
            text-align: center;
            // margin-left: 4px;
        //    border-top-left-radius: 10px;
        //    border-top-right-radius: 10px;
        }
       }
       .card_bottom{
        float: left;
        padding: 100px;
        span{
            &:nth-child(1){
                font-weight: 700;
                font-size: 30px;
            }
            &:nth-child(2){
                font-weight: 400;
                font-size: 25px;
            }
        }
        button{
            width: 100px;
            height: 30px;
            border-radius: 10px;
            border: none;
            background-color: rgb(231, 41, 41);
            color: white;
            font-weight: 500;
        }
       }
    }
}