body{
    
}
.form_body{
    
    width: 800px;
    margin: 0 auto;
    display: flex;
    background-color: rgb(244, 244, 244);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    // width: 100%;
    height: 500px;
    position: relative;
    .inp{
        
            background-color: transparent;
            border: none;
            border-bottom: 1px solid black;
            width: 400px;
            padding: 5px 0px;
            margin-top: 40px;
            
            &:focus{
                outline: none; 
            }

    }
    .catagories{
        // float: left;
        width: 200px;
        height: 30px;
        border: none;
        background-color: transparent;
        margin-bottom: 20px;
        margin-top: 10px;
       }
       .accept{
        position: absolute;
        left: 0;
        bottom: -20%;
        button{
         width: 100px;
         height: 35px;
         border-radius: 10px;
         border: none;
         background-color:#1869ea8a;
         color: white;
         margin-left: 10px;
         &:disabled{
             background-color: #72a9ec8a;
         }
        }
      
        }
    }
    Form{
        background-color: transparent;
        width: 250px;
        position: relative;
        
    }
